{require_otp_vsn, "^([2-9]\d)"}.

{erl_opts, [debug_info,
	    {i, "./include"},
	    {i, "./_build/default/plugins/gpb/include"}
	   ]}.

{eunit_opts, [verbose]}.

{base_dir, "_build"}.
{checkouts_dir, "_checkouts"}.

{deps, [
    {gb_conf,	{git, "https://github.com/pundunlabs/gb_conf.git",{tag, "v1.0.2"}}},
    {gb_log,	{git, "https://github.com/pundunlabs/gb_log.git",{tag, "v1.0.7"}}},
    {scramerl,	{git, "https://github.com/pundunlabs/scramerl.git",{tag, "v1.0.3"}}},
    {enterdb,	{git, "https://github.com/pundunlabs/enterdb.git",{tag, "v1.0.16"}}},
    {erl_rocksdb,
		{git, "https://github.com/pundunlabs/erl_rocksdb.git",{tag, "v1.0.10"}}},
    {enterdb_tables,
		{git, "https://github.com/pundunlabs/enterdb_tables.git",{tag, "v1.0.2"}}},
    {gb_dyno,	{git, "https://github.com/pundunlabs/gb_dyno.git",{tag, "v1.0.6"}}},
    {gb_cli,	{git, "https://github.com/pundunlabs/gb_cli.git",{tag, "v1.0.4"}}},
    {gb_utils,	{git, "https://github.com/pundunlabs/gb_utils.git",{tag, "v1.0.1"}}},
    {mochiweb,	{git, "https://github.com/pundunlabs/mochiweb.git",{tag, "v2.16.0"}}},
    {eper,	{git, "https://github.com/massemanet/eper.git", {tag, "0.99.1"}}}
    ]}.

{plugins,
    [
    {rebar3_gpb_plugin, {git, "https://github.com/pundunlabs/rebar3_gpb_plugin.git", {tag, "2.4.3.MA"}}},
    {rebar3_appup_plugin, {git, "https://github.com/pundunlabs/rebar3_appup_plugin.git", {branch, "develop"}}}
    ]}.

{gpb_opts,
    [
     {proto_url, {"https://raw.githubusercontent.com/pundunlabs/apollo/v1.0.8/apollo.proto", "priv/proto"}},
     {i, "priv/proto"},
     {module_name_suffix, "_pb"},
     {o_erl, "src"},
     {o_hrl, "include"},
     {strings_as_binaries, false},
     maps,
     {maps_unset_optional, present_undefined}
    ]
}.

{provider_hooks, [
    {pre, [{tar, {appup, tar}},
	   {erlc_compile, {protobuf, compile}},
	   {clean, {protobuf, clean}}]},
      {post, [{compile, {appup, compile}},
              {clean, {appup, clean}}]}
]}.

{post_hooks, [
    {release, "config/hooks/post_release.sh"}
    ]
}.

{ct_log_dir, "test/logs"}.
{ct_use_short_names, true}.

{relx,
    [
	{default_release, pundun, "1.0.0"},

	{release, {pundun, "1.0.0"},
         [kernel,
	  stdlib,
	  sasl,
	  os_mon,
	  {runtime_tools, load},
	  {mochiweb, load},
	  scramerl,
	  yamerl,
	  gb_reg,
	  gb_conf,
	  gb_log,
	  gb_hash,
	  {erl_rocksdb, load},
	  {sext, load},
	  {eper, load},
	  enterdb,
	  gb_dyno,
	  {gb_cli, load},
	  {gb_utils, load},
	  enterdb_tables,
	  pundun]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true},

	{vm_args, "config/vm.args"},
	{sys_config, "config/sys.config"},

	{overlay, [
           {mkdir,  "log/sasl"},
	   {mkdir,  "data/db"},
	   {mkdir,  "etc"}
          ]}
	]}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info]},
        {relx, [{dev_mode, false},
		{include_src, false}]}
    ]},
    {target, [
        {erl_opts, [no_debug_info]},
        {relx, [{dev_mode, false}, {include_erts, true},
		{include_src, false}]}
    ]},
    {native, [
        {erl_opts, [{native, o3}]}
    ]},
    {dev, [
        {erl_opts, [debug_info]}
    ]},
    {test, [
        {deps, []},
        {erl_opts, [debug_info]}
    ]}
]}.
