{sub_dirs, ["rel"]}.

{require_otp_vsn, "17"}.

{lib_dirs, []}.

{erl_opts, [debug_info,
	    {i, "./include"},
	    {i, "./deps/gb_log/include"}
	   ]}.
{eunit_opts, [verbose]}.

{deps, [
	{sync, ".*", {git, "https://github.com/rustyio/sync.git"}},
	{scramerl, ".*", {git, "https://github.com/erdemaksu/scramerl.git"}},
	{erl_leveldb, ".*", {git, "http://skelter/gits/erl_leveldb.git",{branch, "master"}}},
	{enterdb, ".*", {git, "http://skelter/gits/enterdb.git",{branch, "master"}}},
	{gb_conf, ".*", {git, "http://skelter/gits/gb_conf.git",{branch, "master"}}},
	{gb_log, ".*", {git, "http://skelter/gits/gb_log.git",{branch, "master"}}},
	{gb_hash, ".*", {git, "http://skelter/gits/gb_hash.git",{branch, "master"}}}
    ]}.

{ct_log_dir, "test/logs"}.
{ct_use_short_names, true}.
