{sub_dirs, ["rel", "src"]}.

{require_otp_vsn, "17"}.

{lib_dirs, ["src"]}.

{erl_opts, [debug_info]}.
{eunit_opts, [verbose]}.

{deps, [
	{sync, ".*", {git, "https://github.com/rustyio/sync.git"}},
	{erl_leveldb, ".*", {git, "${USER}@skelter:/var/gits/erl_leveldb.git",{branch, "master"}}},
	{enterdb, ".*", {git, "${USER}@skelter:/var/gits/enterdb.git",{branch, "master"}}},
	{gb_conf, ".*", {git, "${USER}@skelter:/var/gits/gb_conf.git",{branch, "master"}}},
	{gb_log, ".*", {git, "${USER}@skelter:/var/gits/gb_log.git",{branch, "master"}}},
	{gb_hash, ".*", {git, "${USER}@skelter:/var/gits/gb_hash.git",{branch, "master"}}}
    ]}.
