%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../", "../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "pundun", "1", [kernel,
			     stdlib,
			     sasl,
			     mnesia,
			     %% {sync, load},
			     {mochiweb, load},
			     yamerl,
			     gb_conf,
			     gb_log,
			     gb_hash,
			     {erl_leveldb, load},
			     enterdb,
			     pundun]},
       {rel, "configure", "1", [kernel,
				stdlib,
				sasl,
				{mnesia, load},
				{mochiweb, load},
				{gb_conf, load}]},
       {rel, "start_clean", "", [kernel,
				 stdlib,
				 sasl]},
       {boot_rel, "pundun"},
       {profile, development},
       {relocatable, true},
       {debug_info, keep},
       {incl_cond, include},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, pundun, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "pundun"}.

{overlay, [
           {mkdir, "log/sasl"},
	   {mkdir, "slib/leveldb"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "releases/\{\{rel_vsn\}\}/nodetool"},
           {copy, "pundun/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "runscript", "bin/pundun"},
           {copy, "files/pundun.cmd", "bin/pundun.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
	   {copy, "../deps/erl_leveldb/deps/leveldb/libleveldb.*", "slib/leveldb/"}
          ]}.
